<div className="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
      <h1>Welcome to Sign-in sheet!</h1>
      <p>A way to quickly set up sign-in entries.
      <% if user_signed_in? %>
        <%= render :partial => 'book_entries/form' %>
      <% else %>
      <b>Please login or sign up to continue</b>
      <% end %>
      </p>
    </div>
  </div>
</div>
