<div className="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
      <h1>Welcome to Solides Sign-in sheet!</h1>
      <% if user_signed_in? %>
      <p>A way to quickly set up sign-in entries.
        <b>Please login or sign up to continue</b>
      <% else %>
      
      <% end %>
      </p>
    </div>
  </div>
</div>
