<tr>  
  <td><%= book_entry.kind %></td>
  <td><%=l book_entry.created_at %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_book_entry_path(book_entry), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                book_entry_path(book_entry),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
  </td>
</tr>